@font-face {
  font-family: 'ktavyad';
  src: url(/fonts/KtavYadCLM-MediumItalic.woff2) format("woff2"),
       url(/fonts/KtavYadCLM-MediumItalic.woff) format("woff");
}

@font-face {
  font-family: 'ktavyad';
  src: url(/fonts/KtavYadCLM-BoldItalic.woff2) format("woff2"),
       url(/fonts/KtavYadCLM-BoldItalic.woff) format("woff");
  font-weight: bold;
}

@font-face {
  font-family: 'caveat';
  size-adjust: 150%;
  src: url(/fonts/Caveat-VariableFont_wght.woff2) format("woff2"),
       url(/fonts/Caveat-VariableFont_wght.woff) format("woff");
  unicode-range:
    /* cyrillic-ext */
    /*U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F,*/
    /* cyrillic */
    /*U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116,*/
    /* latin-ext */
    /*U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF,*/
    /* latin */
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: ktavyad, caveat;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  background-color: #efeef4;
  color: #000;
}

p {
  line-height: 1.5;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

ul {
  line-height: 1.3;
}

header {
  padding: 1.2rem 1.8rem;
  margin: 0 0 3rem;
  background-color: #bed276;
}

main {
    max-width: 116rem;
    padding-left: 8rem;
    padding-right: 8rem;
    margin-left: auto;
    margin-right: auto;
}

footer {
  margin-top: 3rem;
  padding: 1.4rem 1.8rem;
  font-size: 1.4rem;
  background-color: #bed276;
  color: #555;
  line-height: 1.5;
}

.moment {
  margin: 12rem 0 12rem 0;
  font-size: 1.6rem;
  text-align: center;
}

.moment p {
  line-height: 2;
}

.index-title {
  font-size: 8rem;
  margin: 5rem 0 0 0;
  text-align: center;
  font-weight: bold;
}

.index-subtitle {
  font-size: 4rem;
  margin: 3rem 0 4rem 0;
  text-align: center;
  font-weight: bold;
}

.index-heading {
  font-size: 6rem;
  margin: 8rem 0 4rem 0;
  text-align: center;
  font-weight: bold;
}

.xril-index-button {
  font-size: 3rem;
  border-radius: 2rem;
  margin-top: 1.5rem;
}

h1 {
  font-size: 6rem;
  margin: 10rem 0 4rem 0;
  font-weight: bold;
}

h2 {
  font-size: 3.6rem;
  margin: 6rem 0 2rem 0;
  font-weight: bold;
}

.xril-navbar-heading {
  font-size: 4rem;
  font-weight: bold;
}

.xril-navbar-heading-selected {
  color: #000000;
  border-top: 0.1rem solid #000000;
  border-bottom: 0.1rem solid #000000;
}

.xril-navbar-list {
  font-size: 2.6rem;
  font-weight: bold;
}

.xril-navbar-item-selected {
  border-top: 0.1rem solid #000000;
  border-bottom: 0.1rem solid #000000;
}

.xril-event-desc {
  background-color: #ffffff;
  padding: 0.1rem 2rem;
}

.xril-event-side {
  background-color: #ffffff;
  padding: 0.1rem 2rem;
  margin-right: 3rem;
}

.xril-event-desc-header {
  font-size: 3rem;
  margin: 3rem 0 1rem 0;
  font-weight: bold;
}

.xril-event-side-header {
  font-size: 2.6rem;
  margin: 3rem 0 1rem 0;
  font-weight: bold;
}

.xril-event-image {
  /*object-fit: contain;*/
  max-height: 38rem;
  margin-left: auto;
  margin-right: auto;
  /*display: block;*/
}

.xril-event-header {
  background-color: #ffffff;
  margin-bottom: 3rem;
}

.xril-event-date {
  text-align: center;
  padding: 1rem 1rem;
  margin: 5rem 2rem;
  border: 0.1rem solid #000000;
  border-radius: 1rem;
}

.xril-event-day {
  font-size: 2.2rem;
}

.xril-event-month {
  font-size: 1.8rem;
}

.xril-event-year {
  font-size: 1.3rem;
}

.xril-event-title-box {
  font-size: 4rem;
  padding: 3rem 0;
}

.xril-event-title {
  vertical-align: middle;
}

.xril-register-box-box {
  padding: 6rem 0;
  letter-spacing: normal;
}

.xril-register-box {
  font-size: 4rem;
}

.xril-register {
  background-color: rgb(255, 193, 30);
  color: #000000;
  border-radius: 1.4rem;
  padding: 1rem 2rem;
  margin: 0 2.6rem;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  float: left;
  letter-spacing: normal;
  vertical-align: middle;
}

.xril-canceled {
  background-color: #dd9999;
  color: #222222;
}

.xril-passed {
  background-color: #777777;
  color: #222222;
}

.xril-free {
  background-color: #99dd99;
  color: #777777;
}

.xril-summary {
  margin-top: 6rem;
  border: 0.1rem solid #000000;
  border-radius: 2rem 0 0 2rem;
  background-color: #ffffff;
}

.xril-summary-passed {
  opacity: 0.5;
}

.xril-summary-date {
  text-align: center;
  padding: 1rem 1rem;
  margin: 4.5rem 3rem;
  border: 0.1rem solid #000000;
  border-radius: 1rem;
}

.xril-summary-day {
  font-size: 2.8rem;
  font-weight: bold;
}

.xril-summary-month {
  font-size: 2.2rem;
  font-weight: bold;
}

.xril-summary-year {
  font-size: 1.6rem;
}

.xril-summary-detail {
  padding: 3rem 0 3rem 1rem;
}

.xril-summary-title {
  font-size: 2.4rem;
  padding: 1rem 0;
}

.xril-summary-location {
  margin-top: 0.5rem;
}

.xril-red {
  color: rgb(220, 79, 0);
}

.xril-green {
  color: rgb(20, 170, 55);
}

.xril-blue {
  color: rgb(56, 96, 170);
}

.xril-purple {
  color: rgb(152, 98, 151);
}
