$if(no-events)$
  <p>אין אירועים קרובים! :-(</p>
$endif$

$for(events)$
  $if(passed)$
  <div class="pure-g xril-summary xril-summary-passed">
  $else$
  <div class="pure-g xril-summary">
  $endif$
    <div class="pure-u-1-2">
      <a href="$url$">
        $if(image)$
          <img class="pure-img xril-event-image" src="/images/$image$" />
        $else$
          <img class="pure-img xril-event-image" src="/images/event-default.png" />
        $endif$
      </a>
    </div>
    <div class="pure-u-1-6">
      <div class="xril-summary-date">
        <div class="xril-summary-day">$day$</div>
        <div class="xril-summary-month">$month$</div>
        <div class="xril-summary-year">$year$</div>
      </div>
    </div>
    <div class="pure-u-1-3">
      <div class="xril-summary-detail">
        <div class="xril-summary-title">
          <a href="$url$">$title$</a>
        </div>
        <div>
          <i class="fa fa-clock-o fa-fw fa-lg"></i>
          $if(date-to)$
            עד $date-to$
          $else$
            $date-hour-from$ עד $date-hour-to$
          $endif$
        </div>
        <div class="xril-summary-location">
          <i class="fa fa-map-marker fa-fw fa-lg"></i>
          $if(location-address)$
            $if(location-name)$
              $if(location-area)$
                $location-name$, $location-area$
              $else$
                $location-name$
              $endif$
            $else$
              $if(location-area)$
                $location-area$
              $else$
                $location-address$
              $endif$
            $endif$
          $else$
            ממוחשב
            $if(online-app-name)$
              דרך
              $online-app-name$
            $endif$
          $endif$
        </div>
      </div>
    </div>
  </div>
$endfor$
