<div class="xril-event-header">
  <div class="pure-g">
    <div class="pure-u-1">
      $if(image)$
        <img class="pure-img xril-event-image" src="/images/$image$" />
      $else$
        <img class="pure-img xril-event-image" src="/images/event-default.png" />
      $endif$
    </div>
    <div class="pure-u-1-8">
      <div class="pure-g xril-event-date">
        <div class="pure-u-1 xril-event-day">$day$</div>
        <div class="pure-u-1 xril-event-month">$month$</div>
        <div class="pure-u-1 xril-event-year">$year$</div>
      </div>
    </div>
    <div class="pure-u-5-8 xril-event-title-box">
      <span class="xril-event-title">$title$</span>
    </div>
    <div class="pure-u-1-4 xril-register-box-box">
      <span class="xril-register-box">
        $if(canceled)$
          <span class="xril-register xril-canceled">האירוע בוטל</span>
        $else$
          $if(passed)$
          <span class="xril-register xril-passed">האירוע כבר התקיים</span>
          $else$
            $if(register-free)$
              <span class="xril-register xril-free">הכניסה חופשית</span>
            $else$
              $if(register-with)$
                <a class="xril-register" href="#participate">הרשמה</a>
              $else$
                <a class="xril-register" href="$register-form$">הרשמה</a>
              $endif$
            $endif$
          $endif$
        $endif$
      </span>
    </div>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-2-3">
    <div class="xril-event-desc">
      <div class="xril-event-desc-header">אודות האירוע</div>
      $body$
      <div class="xril-event-desc-header">תגובות ושאלות</div>
      <p>
        $if(contact-text)$
          $contact-text$
          $if(contact-url)$
            <a href="$contact-url$">$contact-name$</a>.
          $else$
            $contact-name$.
          $endif$
        $else$
          צרו קשר בדואר אלקטרוני עם
          <a href="mailto:$contact$">$contact$</a>.
        $endif$
      </p>
    </div>
  </div>
  <div class="pure-u-1-3">
    <div class="xril-event-side">
      <div>
        <div class="xril-event-side-header">מיקום</div>
        <p>
          $if(location-address)$
            $if(location-name)$
              $if(location-name-url)$
                <a href="$location-name-url$">$location-name$</a>,
              $else$
                $location-name$,
              $endif$
            $endif$
            <a href="$location-address-url$">$location-address$</a>
          $else$
            ממוחשב
            $if(online-app-name)$
              דרך
              <a href="$online-app-url$">$online-app-name$</a>
            $endif$
            $if(online-call-url)$
              <a href="$online-call-url$">קישור למפגש</a>
            $endif$
          $endif$
        </p>
      </div>
      <div>
        <div class="xril-event-side-header">תאריך ושעה</div>
        $if(date-to)$
          <p>מ$date-from$</p>
          <p>עד $date-to$</p>
        $else$
          <p>$date-day$</p>
          <p>$date-hour-from$ עד $date-hour-to$</p>
        $endif$
      </div>
      <div>
        <div class="xril-event-side-header">מאורגן על־ידי</div>
        <a href="$org-link$">$org-name$</a>
      </div>
      <div>
        <div class="xril-event-side-header" id="participate">השתתפות</div>
        <p>
          $if(canceled)$
            האירוע בוטל.
          $else$
            $if(passed)$
              האירוע כבר התקיים.
            $else$
              $if(register-free)$
                <p>הכניסה חופשית! בואו כמו שאתןם.</p>
              $else$
                $if(register-with)$
                  <p>
                    להרשמה צרו קשר עם
                    $if(register-with-url)$
                      <a href="$register-with-url$">$register-with$</a>.
                    $else$
                      $register-with$.
                    $endif$
                  </p>
                $else$
                  <p>להרשמה לאירוע היכנסו לקישור הבא:</p>
                  <p><a href="$register-form$">$register-form$</a></p>
                $endif$
              $endif$
            $endif$
          $endif$
        </p>
      </div>
    </div>
  </div>
</div>
